<p id="notice"><%= notice %></p>

<p>
  <% if @user.photo != nil %>
  <b><%= image_tag @user.photo.url(:small) %></b>
  <% else %>
  <b><%= image_tag("rails.png") %></b>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p><%= link_to "View user's posts", user_posts_path(@user) %></p>

<% if current_user == @user %>
<p><%= link_to "Create a new post", new_user_post_path(@user) %></p>
<% end %>

<% if current_user == @user %>
<%= link_to 'Edit', edit_user_registration_path %> |
<% end %>
<%= link_to 'Back', root_path %>